body {
    background-color: beige;
}

#locations {
    display: flex;
    justify-content: space-around;
}

p {
    text-align: center;
}
li {
    list-style-type: none;
}

table,
th,
td {
    border: 1px solid;
}
